/* 设置样式编码格式 */
@charset "utf-8";
/* login */
.top>p{
    margin-left: 350px;
}
#login h2{
    margin-left: 348px;
    margin-top: 20px;
    font-size: 21px;
    font-weight: normal;
    color: #666666;
}
#login .logincontant{
    position: relative;
    background: url(../images/bg.png)no-repeat;
    width: 100%;
    height: 450px;
    margin-top: 24px;

}
#login .logincontant .show{
    background: #fff;
    width: 318px;
    position: absolute;
    top: 90px;
    right: 68px;
}
#login .logincontant .show ul{
     border-bottom: 1px solid #ccc
}
#login .logincontant .show ul li{
    float: left;
    width: 158px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #666666; 
    cursor: pointer; 
}
#login .logincontant .show ul li.bd{
    border-right: #ccc 1px solid;
}
#login .logincontant .show ul li.active{
    color: #f60;
}
#login .logincontant .show .accountbox{
    margin-top: 18px;
}
#login .logincontant .show .accountbox .phone img{
    margin-left: 8px;
}
#login .logincontant .show .accountbox .phone p{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 22px; 
    color: #666666; 
}
#login .logincontant .show .accountbox .phone p a{
    margin-right: 10px;
    color: #666666; 
}
#login .logincontant .show .accountbox>div{
    display: none;
}
#login .logincontant .show .accountbox>div.active{
    display: block;
}
#login .logincontant .show .accountbox .formbox{
    margin-bottom: 16px;
}
#login .logincontant .show .accountbox .formbox form{
    border: none;
    margin-left: 22px;
}
#login .logincontant .show .accountbox .formbox form .w30{
    width: 270px;
    height: 30px;
    margin-bottom: 18px;
    -text-indent: 40px;
}
#login .logincontant .show .accountbox .formbox form p{
    font-size: 16px;
    margin-bottom: 16px;
}
#login .logincontant .show .accountbox .formbox form p a{
    float: right;
}
#login .logincontant .show .accountbox .formbox form .clf60{
    width: 270px;
    height: 40px;
    background: #f60;
    color: #fff;
    font-size: 18px;
    border: none; 
}



